/*
    真田理志
    SELECTION SCREEN CSS
*/


.false-gods-container {
    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.false-god img {
    width: 128px;
    border-radius: 1rem;
}

.false-god img:hover {
    transform: scale(1.05);
    cursor: pointer;
    filter: grayscale(100%) drop-shadow(0 0 0.75rem gold);
    transition: transform 0.2s ease-out;
}

.false-god-information {
    display: flex;
    padding: 2rem;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
}

.false-god-title {
    font-size: 2rem;
    font-weight: bold;
    color: #fff;
}

.false-god-description {
    font-size: 1.5rem;
    color: #fff;
    margin-left: 2rem;
}

/* Path: src/assets/css/Selection.css */
